body {
  background: transparent url(../img/bg.png) center center no-repeat;
  background-size: cover;
}
.accord {
  margin-top: 150px;
}
.header {
  position: absolute;
}
.container {
  width: 50%;
}
h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
  color: #0bbaf0;
  font-size: 36px;
  margin-bottom: 30px;
  margin-top: 30px;
}
span {
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
}
.accord {
  text-align: center;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: #fff;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: #0bbaf0;
  border-color: #ddd;
  margin-top: 5px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-radius: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 2px solid #ddd;
  border-radius: 5px;
  border-top: 1px;
  width: 98%;
}
.panel-group .panel + .panel {
  margin-top: 0;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0px;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
a:hover,
a:focus {
  text-decoration: none;
}