.modal-dialog {
	border: 5px solid #241d23;
	border-radius: 10px;
}

.modal-header {
	background-color: #3b2e3a;
}

.modal-title {
	color: #fff;
}

.close {
color: #fff;
background-color: #20161f;
}

.btn-yes {
	position: absolute;
	background-color: #79ac5f;
	color: #fff;
	right: 500px;
	width: 80px;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.btn-no {
	position: absolute;
	background-color: #d75e5e;
	color: #fff;
	right: 400px;
	width: 80px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.modal-footer {
	height: 65px;
}