/* Fonts family */
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Ð¡olors */
/* Basic setting */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  background-color: #fcb303;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  font-size: 1.2rem;
}
/* Typography */
section {
  padding: 10rem 0;
}
/* main */
.main {
  padding: 3rem 0 5rem;
  background: #ffffff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
}
.main-content {
  margin-top: 10rem;
}
.main-content h1 {
  margin-bottom: 4rem;
  font-family: 'ProximaNova_bold', sans-serif;
  line-height: 1.45;
  font-size: 4rem;
  text-transform: uppercase;
}
.main-subtitle {
  font-size: 2.4rem;
  margin-bottom: 4rem;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  background-color: #46b814;
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-trigger {
  font-size: 2.2rem;
  display: block;
  margin-top: 3rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-form {
  background-color: #ffffff;
  padding: 4rem 5rem;
  text-align: center;
}
.main-form-header {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form-input {
  width: 100%;
  display: block;
  padding: 1.7rem;
  border: 1px solid #dddddd;
  margin: 2rem 0;
}
.main-form label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  background-color: #ffffff;
  font-size: 1.3rem;
}
.main-form-btn {
  display: block;
  width: 100%;
  height: 5.5rem;
  font-size: 1.6rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
}
